<!DOCTYPE html>
<html lang="zxx">
  
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ogani | Template</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="assets/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<div id="preloder">
<div class="loader"></div>
</div>

<div class="humberger-menu-overlay"></div>
<div class="humberger-menu-wrapper">
<div class="humberger-menu-logo">
<a href="#"><img src="assets/img/logo.png" alt=""></a>
</div>
<div class="humberger-menu-cart">
<ul>
<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
</ul>
<div class="header-cart-price">item: <span>$150.00</span></div>
</div>
<div class="humberger-menu-widget">
<div class="header-top-right-language">
<img src="assets/img/language.png" alt="">
<div>English</div>
<span class="arrow_carrot-down"></span>
<ul>
<li><a href="#">Spanis</a></li>
<li><a href="#">English</a></li>
</ul>
</div>
<div class="header-top-right-auth">
<a href="#"><i class="fa fa-user"></i> Login</a>
</div>
</div>
<nav class="humberger-menu-nav mobile-menu">
<ul>
<li class="active"><a href="index-2.html">Home</a></li>
<li><a href="shop-grid.html">Shop</a></li>
<li><a href="#">Pages</a>
<ul class="header-menu-dropdown">
<li><a href="shop-details.html">Shop Details</a></li>
<li><a href="shoping-cart.html">Shoping Cart</a></li>
<li><a href="checkout.html">Check Out</a></li>
<li><a href="blog-details.html">Blog Details</a></li>
</ul>
</li>
<li><a href="blog.html">Blog</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
<div id="mobile-menu-wrap"></div>
<div class="header-top-right-social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
<a href="#"><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="humberger-menu-contact">
<ul>
<li><i class="fa fa-envelope"></i> <a href="https://colorlib.com/cdn-cgi/l/email-protection" class="-cf_email-" data-cfemail="aac2cfc6c6c5eac9c5c6c5d8c6c3c884c9c5c7">[email&#160;protected]</a></li>
<li>Free Shipping for all Order of $99</li>
</ul>
</div>
</div>


<header class="header">
<div class="header-top">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="header-top-left">
<ul>
<li><i class="fa fa-envelope"></i> <a href="https://colorlib.com/cdn-cgi/l/email-protection" class="-cf_email-" data-cfemail="9ff7faf3f3f0dffcf0f3f0edf3f6fdb1fcf0f2">[email&#160;protected]</a></li>
<li>Free Shipping for all Order of $99</li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="header-top-right">
<div class="header-top-right-social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
<a href="#"><i class="fa fa-pinterest-p"></i></a>
</div>
<div class="header-top-right-language">
<img src="assets/img/language.png" alt="">
<div>English</div>
<span class="arrow_carrot-down"></span>
<ul>
<li><a href="#">Spanis</a></li>
<li><a href="#">English</a></li>
</ul>
</div>
<div class="header-top-right-auth">
<a href="#"><i class="fa fa-user"></i> Login</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="header-logo">
<a href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
</div>
</div>
<div class="col-lg-6">
<nav class="header-menu">
<ul>
<li class="active"><a href="index-2.html">Home</a></li>
<li><a href="shop-grid.html">Shop</a></li>
<li><a href="#">Pages</a>
<ul class="header-menu-dropdown">
<li><a href="shop-details.html">Shop Details</a></li>
<li><a href="shoping-cart.html">Shoping Cart</a></li>
<li><a href="checkout.html">Check Out</a></li>
<li><a href="blog-details.html">Blog Details</a></li>
</ul>
</li>
<li><a href="blog.html">Blog</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
</div>
<div class="col-lg-3">
<div class="header-cart">
<ul>
<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
</ul>
<div class="header-cart-price">item: <span>$150.00</span></div>
</div>
</div>
</div>
<div class="humberger-open">
<i class="fa fa-bars"></i>
</div>
</div>
</header>


<section class="hero">
<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="hero-categories">
<div class="hero-categories-all">
<i class="fa fa-bars"></i>
<span>All departments</span>
</div>
<ul>
<li><a href="#">Fresh Meat</a></li>
<li><a href="#">Vegetables</a></li>
<li><a href="#">Fruit & Nut Gifts</a></li>
<li><a href="#">Fresh Berries</a></li>
<li><a href="#">Ocean Foods</a></li>
<li><a href="#">Butter & Eggs</a></li>
<li><a href="#">Fastfood</a></li>
<li><a href="#">Fresh Onion</a></li>
<li><a href="#">Papayaya & Crisps</a></li>
<li><a href="#">Oatmeal</a></li>
<li><a href="#">Fresh Bananas</a></li>
</ul>
</div>
</div>
<div class="col-lg-9">
<div class="hero-search">
<div class="hero-search-form">
<form action="#">
<div class="hero-search-categories">
All Categories
<span class="arrow_carrot-down"></span>
</div>
<input type="text" placeholder="What do yo u need?">
<button type="submit" class="site-btn">SEARCH</button>
</form>
</div>
<div class="hero-search-phone">
<div class="hero-search-phone-icon">
<i class="fa fa-phone"></i>
</div>
<div class="hero-search-phone-text">
<h5>+65 11.188.888</h5>
<span>support 24/7 time</span>
</div>
</div>
</div>
<div class="hero-item set-bg" data-setbg="assets/img/hero/banner.jpg">
<div class="hero-text">
<span>FRUIT FRESH</span>
<h2>Vegetable <br />100% Organic</h2>
<p>Free Pickup and Delivery Available</p>
<a href="#" class="primary-btn">SHOP NOW</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="categories">
<div class="container">
<div class="row">
<div class="categories-slider owl-carousel">
<div class="col-lg-3">
<div class="categories-item set-bg" data-setbg="assets/img/categories/cat-1.jpg">
<h5><a href="#">Fresh Fruit</a></h5>
</div>
</div>
<div class="col-lg-3">
<div class="categories-item set-bg" data-setbg="assets/img/categories/cat-2.jpg">
<h5><a href="#">Dried Fruit</a></h5>
</div>
</div>
<div class="col-lg-3">
<div class="categories-item set-bg" data-setbg="assets/img/categories/cat-3.jpg">
<h5><a href="#">Vegetables</a></h5>
</div>
</div>
<div class="col-lg-3">
<div class="categories-item set-bg" data-setbg="assets/img/categories/cat-4.jpg">
<h5><a href="#">drink fruits</a></h5>
</div>
</div>
<div class="col-lg-3">
<div class="categories-item set-bg" data-setbg="assets/img/categories/cat-5.jpg">
<h5><a href="#">drink fruits</a></h5>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="featured spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title">
<h2>Featured Product</h2>
</div>
<div class="featured-controls">
<ul>
<li class="active" data-filter="*">All</li>
<li data-filter=".oranges">Oranges</li>
<li data-filter=".fresh-meat">Fresh Meat</li>
<li data-filter=".vegetables">Vegetables</li>
<li data-filter=".fastfood">Fastfood</li>
</ul>
</div>
</div>
</div>
<div class="row featured-filter">
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-1.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-2.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-3.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-4.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-5.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-6.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-7.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
<div class="featured-item">
<div class="featured-item-pic set-bg" data-setbg="assets/img/featured/feature-8.jpg">
<ul class="featured-item-pic-hover">
<li><a href="#"><i class="fa fa-heart"></i></a></li>
<li><a href="#"><i class="fa fa-retweet"></i></a></li>
<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
</ul>
</div>
<div class="featured-item-text">
<h6><a href="#">Crab Pool Security</a></h6>
<h5>$30.00</h5>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="banner">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="banner-pic">
<img src="assets/img/banner/banner-1.jpg" alt="">
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="banner-pic">
<img src="assets/img/banner/banner-2.jpg" alt="">
</div>
</div>
</div>
</div>
</div>


<section class="latest-product spad">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="latest-product-text">
<h4>Latest Products</h4>
<div class="latest-product-slider owl-carousel">
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="latest-product-text">
<h4>Top Rated Products</h4>
<div class="latest-product-slider owl-carousel">
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
 <h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="latest-product-text">
<h4>Review Products</h4>
<div class="latest-product-slider owl-carousel">
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
<div class="latest-prdouct-slider-item">
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-1.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-2.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
 </div>
</a>
<a href="#" class="latest-product-item">
<div class="latest-product-item-pic">
<img src="assets/img/latest-product/lp-3.jpg" alt="">
</div>
<div class="latest-product-item-text">
<h6>Crab Pool Security</h6>
<span>$30.00</span>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="from-blog spad">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section-title from-blog-title">
<h2>From The Blog</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="blog-item">
<div class="blog-item-pic">
<img src="assets/img/blog/blog-1.jpg" alt="">
</div>
<div class="blog-item-text">
<ul>
<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
<li><i class="fa fa-comment-o"></i> 5</li>
</ul>
<h5><a href="#">Cooking tips make cooking simple</a></h5>
<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="blog-item">
<div class="blog-item-pic">
<img src="assets/img/blog/blog-2.jpg" alt="">
</div>
<div class="blog-item-text">
<ul>
<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
<li><i class="fa fa-comment-o"></i> 5</li>
</ul>
<h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="blog-item">
<div class="blog-item-pic">
<img src="assets/img/blog/blog-3.jpg" alt="">
</div>
<div class="blog-item-text">
<ul>
<li><i class="fa fa-calendar-o"></i> May 4,2019</li>
<li><i class="fa fa-comment-o"></i> 5</li>
</ul>
<h5><a href="#">Visit the clean farm in the US</a></h5>
<p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
</div>
</div>
</div>
</div>
</div>
</section>


<footer class="footer spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<div class="footer-about">
 <div class="footer-about-logo">
<a href="index-2.html"><img src="assets/img/logo.png" alt=""></a>
</div>
<ul>
<li>Address: 60-49 Road 11378 New York</li>
<li>Phone: +65 11.188.888</li>
<li>Email: <a href="https://colorlib.com/cdn-cgi/l/email-protection" class="-cf_email-" data-cfemail="167e737a7a795675797a79647a7f743875797b">[email&#160;protected]</a></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
<div class="footer-widget">
<h6>Useful Links</h6>
<ul>
<li><a href="#">About Us</a></li>
<li><a href="#">About Our Shop</a></li>
<li><a href="#">Secure Shopping</a></li>
<li><a href="#">Delivery infomation</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Our Sitemap</a></li>
</ul>
<ul>
<li><a href="#">Who We Are</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">Innovation</a></li>
<li><a href="#">Testimonials</a></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-12">
<div class="footer-widget">
<h6>Join Our Newsletter Now</h6>
<p>Get E-mail updates about our latest shop and special offers.</p>
<form action="#">
<input type="text" placeholder="Enter your mail">
<button type="submit" class="site-btn">Subscribe</button>
</form>
<div class="footer-widget-social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="footer-copyright">
<div class="footer-copyright-text"><p>
Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
</p></div>
<div class="footer-copyright-payment"><img src="assets/img/payment-item.png" alt=""></div>
</div>
</div>
</div>
</div>
</footer>


<script src="assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.nice-select.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.slicknav.js" type="text/javascript"></script>
<script src="assets/js/mixitup.min.js" type="text/javascript"></script>
<script src="assets/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
</html>