@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

html {
  height: 100%;
  font-family: cairo,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  height: 100%;
  font-family: cairo,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 70px;
}

h2 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 36px;
}

h3 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 30px;
}

h4 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 24px;
}

h5 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 18px;
}

h6 {
  margin: 0;
  color: #111;
  font-weight: 400;
  font-family: cairo,sans-serif;
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: cairo,sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px;
}

img {
  max-width: 100%;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #fff;
}

a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h2 {
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
}

.section-title h2:after {
  position: absolute;
  left: 0;
  bottom: -15px;
  right: 0;
  height: 4px;
  width: 80px;
  background: #7fad39;
  content: "";
  margin: 0 auto;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white h1 {
  color: #fff;
}

.text-white h2 {
  color: #fff;
}

.text-white h3 {
  color: #fff;
}

.text-white h4 {
  color: #fff;
}

.text-white h5 {
  color: #fff;
}

.text-white h6 {
  color: #fff;
}

.text-white p {
  color: #fff;
}

.text-white span {
  color: #fff;
}

.text-white li {
  color: #fff;
}

.text-white a {
  color: #fff;
}

.primary-btn {
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background: #7fad39;
  letter-spacing: 2px;
}

.site-btn {
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #7fad39;
  border: none;
}

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader .8s linear infinite;
  -webkit-animation: loader .8s linear infinite;
}

.header-top {
  background: #f5f5f5;
}

.header-top-left {
  padding: 10px 0 13px;
}

.header-top-left ul li {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 45px;
  position: relative;
}

.header-top-left ul li:after {
  position: absolute;
  right: -25px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000;
  opacity: .1;
  content: "";
}

.header-top-left ul li:last-child {
  margin-right: 0;
}

.header-top-left ul li:last-child:after {
  display: none;
}

.header-top-left ul li i {
  color: #252525;
  margin-right: 5px;
}

.header-top-right {
  text-align: right;
  padding: 10px 0 13px;
}

.header-top-right-social {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.header-top-right-social:after {
  position: absolute;
  right: -20px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000;
  opacity: .1;
  content: "";
}

.header-top-right-social a {
  font-size: 14px;
  display: inline-block;
  color: #1c1c1c;
  margin-right: 20px;
}

.header-top-right-social a:last-child {
  margin-right: 0;
}

.header-top-right-language {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.header-top-right-language:hover ul {
  top: 23px;
  opacity: 1;
  visibility: visible;
}

.header-top-right-language:after {
  position: absolute;
  right: -21px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000;
  opacity: .1;
  content: "";
}

.header-top-right-language img {
  margin-right: 6px;
}

.header-top-right-language div {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 4px;
}

.header-top-right-language span {
  font-size: 14px;
  color: #1c1c1c;
  position: relative;
  top: 2px;
}

.header-top-right-language ul {
  background: #222;
  width: 100px;
  text-align: left;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.header-top-right-language ul li {
  list-style: none;
}

.header-top-right-language ul li a {
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
}

.header-top-right-auth {
  display: inline-block;
}

.header-top-right-auth a {
  display: block;
  font-size: 14px;
  color: #1c1c1c;
}

.header-top-right-auth a i {
  margin-right: 6px;
}

.header-logo {
  padding: 15px 0;
}

.header-logo a {
  display: inline-block;
}

.header-menu {
  padding: 24px 0;
}

.header-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.header-menu ul li .header-menu-dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  background: #222;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  -webkit-transition: all,.3s;
  transition: all,.3s;
  opacity: 0;
  visibility: hidden;
}

.header-menu ul li .header-menu-dropdown li {
  margin-right: 0;
  display: block;
}

.header-menu ul li .header-menu-dropdown li:hover > a {
  color: #7fad39;
}

.header-menu ul li .header-menu-dropdown li a {
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  padding: 5px 15px;
}

.header-menu ul li:hover .header-menu-dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header-menu ul li:hover > a {
  color: #7fad39;
}

.header-menu ul li:last-child {
  margin-right: 0;
}

.header-menu ul li a {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all,.3s;
  transition: all,.3s;
  padding: 5px 0;
  display: block;
}

.header-menu ul li.active a {
  color: #7fad39;
}

.header-cart {
  text-align: right;
  padding: 24px 0;
}

.header-cart ul {
  display: inline-block;
  margin-right: 25px;
}

.header-cart ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.header-cart ul li:last-child {
  margin-right: 0;
}

.header-cart ul li a {
  position: relative;
}

.header-cart ul li a i {
  font-size: 18px;
  color: #1c1c1c;
}

.header-cart ul li a span {
  height: 13px;
  width: 13px;
  background: #7fad39;
  font-size: 10px;
  color: #fff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -12px;
}

.header-cart .header-cart-price {
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
}

.header-cart .header-cart-price span {
  color: #252525;
  font-weight: 700;
}

.humberger-menu-wrapper {
  display: none;
}

.humberger-open {
  display: none;
}

.hero {
  padding-bottom: 50px;
}

.hero.hero-normal {
  padding-bottom: 30px;
}

.hero.hero-normal .hero-categories {
  position: relative;
}

.hero.hero-normal .hero-categories ul {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  z-index: 9;
  background: #fff;
}

.hero.hero-normal .hero-search {
  margin-bottom: 0;
}

.hero-categories-all {
  background: #7fad39;
  position: relative;
  padding: 10px 25px 10px 40px;
  cursor: pointer;
}

.hero-categories-all i {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}

.hero-categories-all span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.hero-categories-all:after {
  position: absolute;
  right: 18px;
  top: 9px;
  content: 3;
  font-family: eleganticons;
  font-size: 18px;
  color: #fff;
}

.hero-categories ul {
  border: 1px solid #ebebeb;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.hero-categories ul li {
  list-style: none;
}

.hero-categories ul li a {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 39px;
  display: block;
}

.hero-search {
  overflow: hidden;
  margin-bottom: 30px;
}

.hero-search-form {
  width: 610px;
  height: 50px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
}

.hero-search-form form .hero-search-categories {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 11px;
  position: relative;
}

.hero-search-form form .hero-search-categories:after {
  position: absolute;
  right: 0;
  top: 14px;
  height: 20px;
  width: 1px;
  background: #000;
  opacity: .1;
  content: "";
}

.hero-search-form form .hero-search-categories span {
  position: absolute;
  right: 14px;
  top: 14px;
}

.hero-search-form form input {
  width: 70%;
  border: none;
  height: 48px;
  font-size: 16px;
  color: #b2b2b2;
  padding-left: 20px;
}

.hero-search-form form input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.hero-search-form form input:-ms-input-placeholder {
  color: #b2b2b2;
}

.hero-search-form form input::-ms-input-placeholder {
  color: #b2b2b2;
}

.hero-search-form form input::placeholder {
  color: #b2b2b2;
}

.hero-search-form form button {
  position: absolute;
  right: 0;
  top: -1px;
  height: 50px;
}

.hero-search-phone {
  float: right;
}

.hero-search-phone-icon {
  font-size: 18px;
  color: #7fad39;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.hero-search-phone-text {
  overflow: hidden;
}

.hero-search-phone-text h5 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-search-phone-text span {
  font-size: 14px;
  color: #6f6f6f;
}

.hero-item {
  height: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
}

.hero-text span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #7fad39;
}

.hero-text h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}

.hero-text p {
  margin-bottom: 35px;
}

.categories-item {
  height: 270px;
  position: relative;
}

.categories-item h5 {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  bottom: 20px;
  text-align: center;
}

.categories-item h5 a {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 0 10px;
  background: #fff;
  display: block;
}

.categories-slider .col-lg-3 {
  max-width: 100%;
}

.categories-slider.owl-carousel .owl-nav button {
  font-size: 18px;
  color: #1c1c1c;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-35px);
  background: #fff;
}

.categories-slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -35px;
}

.featured {
  padding-top: 80px;
  padding-bottom: 40px;
}

.featured-controls {
  text-align: center;
  margin-bottom: 50px;
}

.featured-controls ul li {
  list-style: none;
  font-size: 18px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.featured-controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #7fad39;
  content: "";
  opacity: 0;
}

.featured-controls ul li:last-child {
  margin-right: 0;
}

.featured-controls ul li.active:after {
  opacity: 1;
}

.featured-item {
  margin-bottom: 50px;
}

.featured-item:hover .featured-item-pic .featured-item-pic-hover {
  bottom: 20px;
}

.featured-item-pic {
  height: 270px;
  position: relative;
  overflow: hidden;
  background-position: center center;
}

.featured-item-pic-hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all,.5s;
  transition: all,.5s;
}

.featured-item-pic-hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px;
}

.featured-item-pic-hover li:last-child {
  margin-right: 0;
}

.featured-item-pic-hover li:hover a {
  background: #7fad39;
  border-color: #7fad39;
}

.featured-item-pic-hover li:hover a i {
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.featured-item-pic-hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #fff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all,.5s;
  transition: all,.5s;
}

.featured-item-pic-hover li a i {
  position: relative;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.featured-item-text {
  text-align: center;
  padding-top: 15px;
}

.featured-item-text h6 {
  margin-bottom: 10px;
}

.featured-item-text h6 a {
  color: #252525;
}

.featured-item-text h5 {
  color: #252525;
  font-weight: 700;
}

.latest-product {
  padding-top: 80px;
  padding-bottom: 0;
}

.latest-product-text h4 {
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 45px;
}

.latest-product-slider.owl-carousel .owl-nav {
  position: absolute;
  right: 20px;
  top: -75px;
}

.latest-product-slider.owl-carousel .owl-nav button {
  height: 30px;
  width: 30px;
  background: #f3f6fa;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #636363;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
}

.latest-product-slider.owl-carousel .owl-nav button span {
  font-weight: 700;
}

.latest-product-slider.owl-carousel .owl-nav button:last-child {
  margin-right: 0;
}

.latest-product-item {
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.latest-product-item-pic {
  float: left;
  margin-right: 26px;
}

.latest-product-item-pic img {
  height: 110px;
  width: 110px;
}

.latest-product-item-text {
  overflow: hidden;
  padding-top: 10px;
}

.latest-product-item-text h6 {
  color: #252525;
  margin-bottom: 8px;
}

.latest-product-item-text span {
  font-size: 18px;
  display: block;
  color: #252525;
  font-weight: 700;
}

.from-blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.from-blog .blog-item {
  margin-bottom: 30px;
}

.from-blog-title {
  margin-bottom: 70px;
}

.breadcrumb-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0 40px;
}

.breadcrumb-text h2 {
  font-size: 46px;
  color: #fff;
  font-weight: 700;
}

.breadcrumb-option a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-right: 20px;
  position: relative;
}

.breadcrumb-option a:after {
  position: absolute;
  right: -12px;
  top: 13px;
  height: 1px;
  width: 10px;
  background: #fff;
  content: "";
}

.breadcrumb-option span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.sidebar-item {
  margin-bottom: 35px;
}

.sidebar-item h4 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 25px;
}

.sidebar-item ul li {
  list-style: none;
}

.sidebar-item ul li a {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 39px;
  display: block;
}

.sidebar-item .latest-product-text {
  position: relative;
}

.sidebar-item .latest-product-text h4 {
  margin-bottom: 45px;
}

.sidebar-item .latest-product-text .owl-carousel .owl-nav {
  right: 0;
}

.sidebar-item.sidebar-item-color--option {
  overflow: hidden;
}

.price-range-wrap .range-slider {
  margin-top: 20px;
}

.price-range-wrap .range-slider .price-input {
  position: relative;
}

.price-range-wrap .range-slider .price-input:after {
  position: absolute;
  left: 38px;
  top: 13px;
  height: 1px;
  width: 5px;
  background: #d22;
  content: "";
}

.price-range-wrap .range-slider .price-input input {
  font-size: 16px;
  color: #d22;
  font-weight: 700;
  max-width: 20%;
  border: none;
  display: inline-block;
}

.price-range-wrap .price-range {
  border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range {
  background: #d22;
  border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
  background: #d22;
}

.price-range-wrap .price-range.ui-widget-content {
  border: none;
  background: #ebebeb;
  height: 5px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}

.sidebar-item-color {
  float: left;
  width: 40%;
}

.sidebar-item-color label {
  font-size: 16px;
  color: #333;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

.sidebar-item-color label input {
  position: absolute;
  visibility: hidden;
}

.sidebar-item-color label:after {
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 14px;
  background: #222;
  content: "";
  border-radius: 50%;
}

.sidebar-item-color.sidebar-item-color--white label:after {
  border: 2px solid #333;
  background: 0 0;
}

.sidebar-item-color.sidebar-item-color--gray label:after {
  background: #e9a625;
}

.sidebar-item-color.sidebar-item-color--red label:after {
  background: #d62d2d;
}

.sidebar-item-color.sidebar-item-color--black label:after {
  background: #252525;
}

.sidebar-item-color.sidebar-item-color--blue label:after {
  background: #249bc8;
}

.sidebar-item-color.sidebar-item-color--green label:after {
  background: #3cc032;
}

.sidebar-item-size {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 10px;
}

.sidebar-item-size label {
  font-size: 12px;
  color: #6f6f6f;
  display: inline-block;
  padding: 8px 25px 6px;
  background: #f5f5f5;
  cursor: pointer;
  margin-bottom: 0;
}

.sidebar-item-size label input {
  position: absolute;
  visibility: hidden;
}

.product {
  padding-top: 80px;
  padding-bottom: 80px;
}

.product-discount {
  padding-bottom: 50px;
}

.product-discount-title {
  text-align: left;
  margin-bottom: 65px;
}

.product-discount-title h2 {
  display: inline-block;
}

.product-discount-title h2:after {
  margin: 0;
  width: 100%;
}

.product-discount-item:hover .product-discount-item-pic .product-item-pic-hover {
  bottom: 20px;
}

.product-discount-item-pic {
  height: 270px;
  position: relative;
  overflow: hidden;
}

.product-discount-item-pic .product-discount-percent {
  height: 45px;
  width: 45px;
  background: #d22;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 15px;
}

.product-item-pic-hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all,.5s;
  transition: all,.5s;
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all,.5s;
  transition: all,.5s;
}

.product-item-pic-hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px;
  list-style: none;
  display: inline-block;
  margin-right: 6px;
}

.product-item-pic-hover li:last-child {
  margin-right: 0;
  margin-right: 0;
}

.product-item-pic-hover li:hover a {
  background: #7fad39;
  border-color: #7fad39;
  background: #7fad39;
  border-color: #7fad39;
}

.product-item-pic-hover li:hover a i {
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #fff;
  transform: rotate(360deg);
}

.product-item-pic-hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #fff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all,.5s;
  transition: all,.5s;
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #fff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all,.5s;
  transition: all,.5s;
}

.product-item-pic-hover li a i {
  position: relative;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all,.3s;
  transition: all,.3s;
  position: relative;
  transform: rotate(0);
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.product-discount-item-text {
  text-align: center;
  padding-top: 20px;
}

.product-discount-item-text span {
  font-size: 14px;
  color: #b2b2b2;
  display: block;
  margin-bottom: 4px;
}

.product-discount-item-text h5 {
  margin-bottom: 6px;
}

.product-discount-item-text h5 a {
  color: #1c1c1c;
}

.product-discount-item-text .product-item-price {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
}

.product-discount-item-text .product-item-price span {
  display: inline-block;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-discount-slider .col-lg-4 {
  max-width: 100%;
}

.product-discount-slider.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 30px;
}

.product-discount-slider.owl-carousel .owl-dots button {
  height: 12px;
  width: 12px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  margin-right: 12px;
}

.product-discount-slider.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}

.product-discount-slider.owl-carousel .owl-dots button.active {
  background: #707070;
  border-color: #6f6f6f;
}

.filter-item {
  padding-top: 45px;
  border-top: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.filter-sort {
  margin-bottom: 15px;
}

.filter-sort span {
  font-size: 16px;
  color: #6f6f6f;
  display: inline-block;
}

.filter-sort .nice-select {
  background-color: #fff;
  border-radius: 0;
  border: none;
  display: inline-block;
  float: none;
  height: 0;
  line-height: 0;
  padding-left: 18px;
  padding-right: 30px;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  cursor: pointer;
}

.filter-sort .nice-select span {
  color: #1c1c1c;
}

.filter-sort .nice-select:after {
  border-bottom: 1.5px solid #1c1c1c;
  border-right: 1.5px solid #1c1c1c;
  height: 8px;
  margin-top: 0;
  right: 16px;
  width: 8px;
  top: -5px;
}

.filter-sort .nice-select .list {
  border-radius: 0;
  margin-top: 0;
  top: 15px;
}

.filter-sort .nice-select .option {
  line-height: 30px;
  min-height: 30px;
}

.filter-sort .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.filter-found {
  text-align: center;
  margin-bottom: 15px;
}

.filter-found h6 {
  font-size: 16px;
  color: #b2b2b2;
}

.filter-found h6 span {
  color: #1c1c1c;
  font-weight: 700;
  margin-right: 5px;
}

.filter-option {
  text-align: right;
  margin-bottom: 15px;
}

.filter-option span {
  font-size: 24px;
  color: #b2b2b2;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.filter-option span:last-child {
  margin: 0;
}

.filter-option span:hover {
  color: #7fad39;
}

.product-item {
  margin-bottom: 50px;
}

.product-item:hover .product-item-pic .product-item-pic-hover {
  bottom: 20px;
}

.product-item-pic {
  height: 270px;
  position: relative;
  overflow: hidden;
}

.product-item-text {
  text-align: center;
  padding-top: 15px;
}

.product-item-text h6 {
  margin-bottom: 10px;
}

.product-item-text h6 a {
  color: #252525;
}

.product-item-text h5 {
  color: #252525;
  font-weight: 700;
}

.product-pagination {
  padding-top: 10px;
}

.product-pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-right: 16px;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.product-pagination a:hover {
  background: #7fad39;
  border-color: #7fad39;
  color: #fff;
}

.product-pagination a:last-child {
  margin-right: 0;
}

.blog-pagination {
  padding-top: 10px;
  padding-top: 5px;
  position: relative;
}

.blog-pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-right: 16px;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.blog-pagination a:hover {
  background: #7fad39;
  border-color: #7fad39;
  color: #fff;
}

.blog-pagination a:last-child {
  margin-right: 0;
}

.blog-pagination:before {
  position: absolute;
  left: 0;
  top: -29px;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: .1;
  content: "";
}

.product-details {
  padding-top: 80px;
}

.product-details-pic-item {
  margin-bottom: 20px;
}

.product-details-pic-item img {
  min-width: 100%;
}

.product-details-pic-slider img {
  cursor: pointer;
}

.product-details-pic-slider.owl-carousel .owl-item img {
  width: auto;
}

.product-details-text h3 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 16px;
}

.product-details-text .product-details-rating {
  font-size: 14px;
  margin-bottom: 12px;
}

.product-details-text .product-details-rating i {
  margin-right: -2px;
  color: #edbb0e;
}

.product-details-text .product-details-rating span {
  color: #d22;
  margin-left: 4px;
}

.product-details-text .product-details-price {
  font-size: 30px;
  color: #d22;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-details-text p {
  margin-bottom: 45px;
}

.product-details-text .primary-btn {
  padding: 16px 28px 14px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.product-details-text .heart-icon {
  display: inline-block;
  font-size: 16px;
  color: #6f6f6f;
  padding: 13px 16px;
  background: #f5f5f5;
}

.product-details-text ul {
  border-top: 1px solid #ebebeb;
  padding-top: 40px;
  margin-top: 50px;
}

.product-details-text ul li {
  font-size: 16px;
  color: #1c1c1c;
  list-style: none;
  line-height: 36px;
}

.product-details-text ul li b {
  font-weight: 700;
  width: 170px;
  display: inline-block;
}

.product-details-text ul li span samp {
  color: #d22;
}

.product-details-text ul li .share {
  display: inline-block;
}

.product-details-text ul li .share a {
  display: inline-block;
  font-size: 15px;
  color: #1c1c1c;
  margin-right: 25px;
}

.product-details-text ul li .share a:last-child {
  margin-right: 0;
}

.product-details-quantity {
  display: inline-block;
  margin-right: 6px;
}

.pro-qty {
  width: 140px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 5px;
}

.pro-qty input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #6f6f6f;
  width: 50px;
  border: none;
  background: #f5f5f5;
  text-align: center;
}

.pro-qty .qtybtn {
  width: 35px;
  font-size: 16px;
  color: #6f6f6f;
  cursor: pointer;
  display: inline-block;
}

.product-details-tab {
  padding-top: 85px;
}

.product-details-tab .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product-details-tab .nav-tabs:before {
  position: absolute;
  left: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #ebebeb;
  content: "";
}

.product-details-tab .nav-tabs:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #ebebeb;
  content: "";
}

.product-details-tab .nav-tabs li {
  margin-bottom: 0;
  margin-right: 65px;
}

.product-details-tab .nav-tabs li:last-child {
  margin-right: 0;
}

.product-details-tab .nav-tabs li a {
  font-size: 16px;
  color: #999;
  font-weight: 700;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

.product-details-tab .product-details-tab-desc {
  padding-top: 44px;
}

.product-details-tab .product-details-tab-desc h6 {
  font-weight: 700;
  color: #333;
  margin-bottom: 26px;
}

.product-details-tab .product-details-tab-desc p {
  color: #666;
}

.related-product {
  padding-bottom: 30px;
}

.related-product-title {
  margin-bottom: 70px;
}

.shoping-cart {
  padding-top: 80px;
  padding-bottom: 80px;
}

.shoping-cart-table {
  margin-bottom: 30px;
}

.shoping-cart-table table {
  width: 100%;
  text-align: center;
}

.shoping-cart-table table thead tr {
  border-bottom: 1px solid #ebebeb;
}

.shoping-cart-table table thead th {
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
  padding-bottom: 20px;
}

.shoping-cart-table table thead th.shoping-product {
  text-align: left;
}

.shoping-cart-table table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.shoping-cart-table table tbody tr td.shoping-cart-item {
  width: 630px;
  text-align: left;
}

.shoping-cart-table table tbody tr td.shoping-cart-item img {
  display: inline-block;
  margin-right: 25px;
}

.shoping-cart-table table tbody tr td.shoping-cart-item h5 {
  color: #1c1c1c;
  display: inline-block;
}

.shoping-cart-table table tbody tr td.shoping-cart-price {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  width: 100px;
}

.shoping-cart-table table tbody tr td.shoping-cart-total {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  width: 110px;
}

.shoping-cart-table table tbody tr td.shoping-cart-item-close {
  text-align: right;
}

.shoping-cart-table table tbody tr td.shoping-cart-item-close span {
  font-size: 24px;
  color: #b2b2b2;
  cursor: pointer;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity {
  width: 225px;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty {
  width: 120px;
  height: 40px;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty input {
  color: #1c1c1c;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty input::-webkit-input-placeholder {
  color: #1c1c1c;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty input:-ms-input-placeholder {
  color: #1c1c1c;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty input::-ms-input-placeholder {
  color: #1c1c1c;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty input::placeholder {
  color: #1c1c1c;
}

.shoping-cart-table table tbody tr td.shoping-cart-quantity .pro-qty .qtybtn {
  width: 15px;
}

.primary-btn.cart-btn {
  color: #6f6f6f;
  padding: 14px 30px 12px;
  background: #f5f5f5;
}

.primary-btn.cart-btn span {
  font-size: 14px;
}

.primary-btn.cart-btn.cart-btn-right {
  float: right;
}

.shoping-discount {
  margin-top: 45px;
}

.shoping-discount h5 {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 25px;
}

.shoping-discount form input {
  width: 255px;
  height: 46px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #b2b2b2;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}

.shoping-discount form input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.shoping-discount form input:-ms-input-placeholder {
  color: #b2b2b2;
}

.shoping-discount form input::-ms-input-placeholder {
  color: #b2b2b2;
}

.shoping-discount form input::placeholder {
  color: #b2b2b2;
}

.shoping-discount form button {
  padding: 15px 30px 11px;
  font-size: 12px;
  letter-spacing: 4px;
  background: #6f6f6f;
}

.shoping-checkout {
  background: #f5f5f5;
  padding: 30px;
  padding-top: 20px;
  margin-top: 50px;
}

.shoping-checkout h5 {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
}

.shoping-checkout ul {
  margin-bottom: 28px;
}

.shoping-checkout ul li {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  margin-bottom: 18px;
}

.shoping-checkout ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.shoping-checkout ul li span {
  font-size: 18px;
  color: #d22;
  float: right;
}

.shoping-checkout .primary-btn {
  display: block;
  text-align: center;
}

.checkout {
  padding-top: 80px;
  padding-bottom: 60px;
}

.checkout h6 {
  color: #999;
  text-align: center;
  background: #f5f5f5;
  border-top: 1px solid #6ab963;
  padding: 12px 0;
  margin-bottom: 75px;
}

.checkout h6 span {
  font-size: 16px;
  color: #6ab963;
  margin-right: 5px;
}

.checkout h6 a {
  text-decoration: underline;
  color: #999;
}

.checkout-form h4 {
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.checkout-form p {
  -webkit-column-rule: #b2b2b2;
          column-rule: #b2b2b2;
}

.checkout-input {
  margin-bottom: 24px;
}

.checkout-input p {
  color: #1c1c1c;
  margin-bottom: 20px;
}

.checkout-input p span {
  color: #d22;
}

.checkout-input input {
  width: 100%;
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #b2b2b2;
  border-radius: 4px;
}

.checkout-input input::-webkit-input-placeholder {
  color: #b2b2b2;
}

.checkout-input input:-ms-input-placeholder {
  color: #b2b2b2;
}

.checkout-input input::-ms-input-placeholder {
  color: #b2b2b2;
}

.checkout-input input::placeholder {
  color: #b2b2b2;
}

.checkout-input input.checkout-input-add {
  margin-bottom: 20px;
}

.checkout-input-checkbox {
  margin-bottom: 10px;
}

.checkout-input-checkbox label {
  position: relative;
  font-size: 16px;
  color: #1c1c1c;
  padding-left: 40px;
  cursor: pointer;
}

.checkout-input-checkbox label input {
  position: absolute;
  visibility: hidden;
}

.checkout-input-checkbox label input:checked ~ .checkmark {
  background: #7fad39;
  border-color: #7fad39;
}

.checkout-input-checkbox label input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkout-input-checkbox label .checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  height: 16px;
  width: 14px;
  border: 1px solid #a6a6a6;
  content: "";
  border-radius: 4px;
}

.checkout-input-checkbox label .checkmark:after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 8px;
  border: solid #fff;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}

.checkout-order {
  background: #f5f5f5;
  padding: 40px;
  padding-top: 30px;
}

.checkout-order h4 {
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.checkout-order .checkout-order-products {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 10px;
}

.checkout-order .checkout-order-products span {
  float: right;
}

.checkout-order ul {
  margin-bottom: 12px;
}

.checkout-order ul li {
  font-size: 16px;
  color: #6f6f6f;
  line-height: 40px;
  list-style: none;
}

.checkout-order ul li span {
  font-weight: 700;
  float: right;
}

.checkout-order .checkout-order-subtotal {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.checkout-order .checkout-order-subtotal span {
  float: right;
}

.checkout-order .checkout-input-checkbox label {
  padding-left: 20px;
}

.checkout-order .checkout-order-total {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.checkout-order .checkout-order-total span {
  float: right;
  color: #d22;
}

.checkout-order button {
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 10px;
}

.blog-item {
  margin-bottom: 60px;
}

.blog-item-pic img {
  min-width: 100%;
}

.blog-item-text {
    padding-top: 25px;
    text-align: justify;
    max-height: 314px;
    overflow: hidden;
}

.blog-item-text ul {
  margin-bottom: 15px;
}

.blog-item-text ul li {
  font-size: 16px;
  color: #b2b2b2;
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.blog-item-text ul li:last-child {
  margin-right: 0;
}

.blog-item-text h5 {
  margin-bottom: 12px;
}

.blog-item-text h5 a {
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 700;
}

.blog-item-text p {
  margin-bottom: 25px;
}

.blog-item-text .blog-btn {
  display: inline-block;
  font-size: 14px;
  color: #1c1c1c;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #b2b2b2;
  padding: 14px 20px 12px;
  border-radius: 25px;
}

.blog-item-text .blog-btn span {
  position: relative;
  top: 1px;
  margin-left: 5px;
}

.blog-sidebar {
  padding-top: 50px;
}

.blog-sidebar-item {
  margin-bottom: 50px;
}

.blog-sidebar-item h4 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 25px;
}

.blog-sidebar-item ul li {
  list-style: none;
}

.blog-sidebar-item ul li a {
  font-size: 16px;
  color: #666;
  line-height: 48px;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.blog-sidebar-item ul li a:hover {
  color: #7fad39;
}

.blog-sidebar-search {
  margin-bottom: 50px;
}

.blog-sidebar-search form {
  position: relative;
}

.blog-sidebar-search form input {
  width: 100%;
  height: 46px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
}

.blog-sidebar-search form input::-webkit-input-placeholder {
  color: #6f6f6f;
}

.blog-sidebar-search form input:-ms-input-placeholder {
  color: #6f6f6f;
}

.blog-sidebar-search form input::-ms-input-placeholder {
  color: #6f6f6f;
}

.blog-sidebar-search form input::placeholder {
  color: #6f6f6f;
}

.blog-sidebar-search form button {
  font-size: 16px;
  color: #6f6f6f;
  background: 0 0;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
}

.blog-sidebar-recent .blog-sidebar-recent-item {
  display: block;
}

.blog-sidebar-recent .blog-sidebar-recent-item:last-child {
  margin-bottom: 0;
}

.blog-sidebar-recent-item {
  overflow: hidden;
  margin-bottom: 20px;
}

.blog-sidebar-recent-item-pic {
  float: left;
  margin-right: 20px;
}

.blog-sidebar-recent-item-text {
  overflow: hidden;
}

.blog-sidebar-recent-item-text h6 {
  font-weight: 700;
  color: #333;
  line-height: 20px;
  margin-bottom: 5px;
}

.blog-sidebar-recent-item-text span {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}

.blog-sidebar-item-tags a {
  font-size: 16px;
  color: #6f6f6f;
  background: #f5f5f5;
  display: inline-block;
  padding: 7px 26px 5px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.blog-details-hero {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-details-hero-text {
  text-align: center;
}

.blog-details-hero-text h2 {
  font-size: 46px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-details-hero-text ul li {
  font-size: 16px;
  color: #fff;
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  position: relative;
}

.blog-details-hero-text ul li:after {
  position: absolute;
  right: -26px;
  top: 0;
  content: "|";
}

.blog-details-hero-text ul li:last-child {
  margin-right: 0;
}

.blog-details-hero-text ul li:last-child:after {
  display: none;
}

.related-blog {
  padding-top: 70px;
  padding-bottom: 10px;
}

.related-blog-title {
  margin-bottom: 70px;
}

.blog-details {
  padding-bottom: 75px;
  border-bottom: 1px solid #e1e1e1;
}

.blog-details-text {
  margin-bottom: 45px;
}

.blog-details-text img {
  margin-bottom: 30px;
}

.blog-details-text p {
  font-size: 18px;
  line-height: 30px;
}

.blog-details-text h3 {
  color: #333;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}

.blog-details-author-pic {
  float: left;
  margin-right: 15px;
}

.blog-details-author-pic img {
  height: 92px;
  width: 92px;
  border-radius: 50%;
}

.blog-details-author-text {
  overflow: hidden;
  padding-top: 30px;
}

.blog-details-author-text h6 {
  color: #1c1c1c;
  font-weight: 700;
}

.blog-details-author-text span {
  font-size: 16px;
  color: #6f6f6f;
}

.blog-details-widget ul {
  margin-bottom: 5px;
}

.blog-details-widget ul li {
  font-size: 16px;
  color: #6f6f6f;
  list-style: none;
  line-height: 30px;
}

.blog-details-widget ul li span {
  color: #1c1c1c;
  font-weight: 700;
}

.blog-details-widget .blog-details-social a {
  display: inline-block;
  font-size: 20px;
  color: #6f6f6f;
  margin-right: 24px;
  -webkit-transition: all,.3s;
  transition: all,.3s;
}

.blog-details-widget .blog-details-social a:hover {
  color: #7fad39;
}

.blog-details-widget .blog-details-social a:last-child {
  margin-right: 0;
}

.footer {
  background: #f3f6fa;
  padding-top: 70px;
  padding-bottom: 0;
}

.footer-about {
  margin-bottom: 30px;
}

.footer-about ul li {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 36px;
  list-style: none;
}

.footer-about-logo {
  margin-bottom: 15px;
}

.footer-about-logo a {
  display: inline-block;
}

.footer-widget {
  margin-bottom: 30px;
  overflow: hidden;
}

.footer-widget h6 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-widget ul {
  width: 50%;
  float: left;
}

.footer-widget ul li {
  list-style: none;
}

.footer-widget ul li a {
  color: #1c1c1c;
  font-size: 14px;
  line-height: 32px;
}

.footer-widget p {
  font-size: 14px;
  color: #1c1c1c;
  margin-bottom: 30px;
}

.footer-widget form {
  position: relative;
  margin-bottom: 30px;
}

.footer-widget form input {
  width: 100%;
  font-size: 16px;
  padding-left: 20px;
  color: #1c1c1c;
  height: 46px;
  border: 1px solid #ededed;
}

.footer-widget form input::-webkit-input-placeholder {
  color: #1c1c1c;
}

.footer-widget form input:-ms-input-placeholder {
  color: #1c1c1c;
}

.footer-widget form input::-ms-input-placeholder {
  color: #1c1c1c;
}

.footer-widget form input::placeholder {
  color: #1c1c1c;
}

.footer-widget form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 26px;
  height: 100%;
}

.footer-widget .footer-widget-social a {
  display: inline-block;
  height: 41px;
  width: 41px;
  font-size: 16px;
  color: #404040;
  border: 1px solid #ededed;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  background: #fff;
  -webkit-transition: all,.3s;
  transition: all,.3s;
  margin-right: 10px;
}

.footer-widget .footer-widget-social a:last-child {
  margin-right: 0;
}

.footer-widget .footer-widget-social a:hover {
  background: #7fad39;
  color: #fff;
  border-color: #fff;
}

.footer-copyright {
  border-top: 1px solid #ebebeb;
  padding: 15px 0;
  overflow: hidden;
  margin-top: 20px;
}

.footer-copyright-text {
  font-size: 14px;
  color: #1c1c1c;
  float: left;
  line-height: 25px;
}

.footer-copyright-payment {
  float: right;
}

.contact {
  padding-top: 80px;
  padding-bottom: 50px;
}

.contact-widget {
  margin-bottom: 30px;
}

.contact-widget span {
  font-size: 36px;
  color: #7fad39;
}

.contact-widget h4 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 18px;
}

.contact-widget p {
  color: #666;
  margin-bottom: 0;
}

.map {
  height: 500px;
  position: relative;
}

.map iframe {
  width: 100%;
}

.map .map-inside {
  position: absolute;
  left: 50%;
  top: 160px;
  -webkit-transform: translateX(-175px);
  transform: translateX(-175px);
}

.map .map-inside i {
  font-size: 48px;
  color: #7fad39;
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-18px);
  transform: translateX(-18px);
}

.map .map-inside .inside-widget {
  width: 350px;
  background: #fff;
  text-align: center;
  padding: 23px 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
  box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
}

.map .map-inside .inside-widget:after {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-6px);
  transform: translateX(-6px);
  border: 12px solid transparent;
  border-top: 30px solid #fff;
  content: "";
  z-index: -1;
}

.map .map-inside .inside-widget h4 {
  font-size: 22px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 4px;
}

.map .map-inside .inside-widget ul li {
  list-style: none;
  font-size: 16px;
  color: #666;
  line-height: 26px;
}

.contact-form-title {
  margin-bottom: 50px;
  text-align: center;
}

.contact-form-title h2 {
  color: #1c1c1c;
  font-weight: 700;
}

.contact-form {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-form form input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 20px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.contact-form form input::-webkit-input-placeholder {
  color: #6f6f6f;
}

.contact-form form input:-ms-input-placeholder {
  color: #6f6f6f;
}

.contact-form form input::-ms-input-placeholder {
  color: #6f6f6f;
}

.contact-form form input::placeholder {
  color: #6f6f6f;
}

.contact-form form textarea {
  width: 100%;
  height: 150px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 20px;
  margin-bottom: 24px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding-top: 12px;
  resize: none;
}

.contact-form form textarea::-webkit-input-placeholder {
  color: #6f6f6f;
}

.contact-form form textarea:-ms-input-placeholder {
  color: #6f6f6f;
}

.contact-form form textarea::-ms-input-placeholder {
  color: #6f6f6f;
}

.contact-form form textarea::placeholder {
  color: #6f6f6f;
}

.contact-form form button {
  font-size: 18px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-menu ul li {
    margin-right: 45px;
  }
  .hero-search-form {
    width: 490px;
  }
  .hero-categories-all {
    padding: 10px 25px 10px 20px;
  }
  .hero-categories ul {
    padding-left: 20px;
  }
  .latest-product-slider.owl-carousel .owl-nav {
    right: 0;
  }
  .product-details-tab .nav-tabs:before {
    width: 265px;
  }
  .product-details-tab .nav-tabs:after {
    width: 265px;
  }
  .shoping-discount form input {
    width: 240px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-categories {
    margin-bottom: 30px;
  }
  .hero-search-form {
    width: 485px;
  }
  .categories-slider.owl-carousel .owl-nav button {
    left: -20px;
  }
  .categories-slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
  .filter-sort .nice-select {
    padding-left: 5px;
    padding-right: 28px;
  }
  .product-details-quantity {
    margin-bottom: 10px;
  }
  .product-details-text .primary-btn {
    margin-bottom: 10px;
  }
  .product-details-tab .nav-tabs:before {
    width: 150px;
  }
  .product-details-tab .nav-tabs:after {
    width: 150px;
  }
  .blog-details-author {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .humberger-open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger-menu-wrapper {
    width: 300px;
    background: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all,.6s;
    transition: all,.6s;
  }
  .humberger-menu-wrapper .header-top-right-social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .humberger-menu-wrapper .slicknav_btn {
    display: none;
  }
  .humberger-menu-wrapper .slicknav_nav {
    display: block !important;
  }
  .humberger-menu-wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .humberger-menu-wrapper .slicknav_nav ul {
    margin: 0;
  }
  .humberger-menu-wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 0;
  }
  .humberger-menu-wrapper .slicknav_nav a:hover {
    border-radius: 0;
    background: 0 0;
    color: #7fad39;
  }
  .humberger-menu-wrapper .slicknav_nav .slicknav_row {
    padding: 8px 0;
  }
  .humberger-menu-wrapper .slicknav_menu {
    background: 0 0;
    padding: 0;
    margin-bottom: 30px;
  }
  .humberger-menu-wrapper.show-humberger-menu-wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger-menu-logo {
    margin-bottom: 30px;
  }
  .humberger-menu-logo a {
    display: inline-block;
  }
  .humberger-menu-contact {
    padding: 10px 0 13px;
  }
  .humberger-menu-contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .humberger-menu-contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .humberger-menu-cart {
    margin-bottom: 25px;
  }
  .humberger-menu-cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .humberger-menu-cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .humberger-menu-cart ul li:last-child {
    margin-right: 0;
  }
  .humberger-menu-cart ul li a {
    position: relative;
  }
  .humberger-menu-cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .humberger-menu-cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .humberger-menu-cart .header-cart-price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
  }
  .humberger-menu-cart .header-cart-price span {
    color: #252525;
    font-weight: 700;
  }
  .humberger-menu-widget {
    margin-bottom: 20px;
  }
  .humberger-menu-widget .header-top-right-language {
    margin-right: 20px;
  }
  .humberger-menu-nav {
    display: none;
  }
  .humberger-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all,.6s;
    transition: all,.6s;
  }
  .humberger-menu-overlay.active {
    visibility: visible;
  }
  .header-top {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-cart {
    text-align: center;
    padding: 10px 0 24px;
  }
  .over_hid {
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .hero-categories {
    margin-bottom: 30px;
  }
  .hero-search {
    margin-bottom: 30px;
  }
  .hero-search-form {
    width: 100%;
  }
  .hero-search-form form input {
    width: 100%;
  }
  .hero-search-form form .hero-search-categories {
    display: none;
  }
  .hero-search-phone {
    float: left;
    margin-top: 30px;
  }
  .categories-slider.owl-carousel .owl-nav {
    text-align: center;
    margin-top: 40px;
  }
  .categories-slider.owl-carousel .owl-nav button {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translateY(0);
  }
  .categories-slider.owl-carousel .owl-nav button.owl-next {
    right: -10px;
  }
  .footer-copyright {
    text-align: center;
  }
  .footer-copyright-text {
    float: none;
    margin-bottom: 25px;
  }
  .footer-copyright-payment {
    float: none;
  }
  .filter-item {
    text-align: center;
  }
  .filter-option {
    text-align: center;
  }
  .product-details-pic {
    margin-bottom: 40px;
  }
  .product-details-tab .nav-tabs:before {
    display: none;
  }
  .product-details-tab .nav-tabs:after {
    display: none;
  }
  .shoping-cart-table {
    overflow-y: auto;
  }
  .shoping-discount form input {
    margin-bottom: 15px;
  }
  .blog-details-author {
    overflow: hidden;
    margin-bottom: 25px;
  }
  .humberger-open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }
  .header .container {
    position: relative;
  }
  .humberger-menu-wrapper {
    width: 300px;
    background: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    -webkit-transition: all,.6s;
    transition: all,.6s;
  }
  .humberger-menu-wrapper .header-top-right-social {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .humberger-menu-wrapper .slicknav_btn {
    display: none;
  }
  .humberger-menu-wrapper .slicknav_nav {
    display: block !important;
  }
  .humberger-menu-wrapper .slicknav_nav .slicknav_item a {
    border-bottom: none !important;
  }
  .humberger-menu-wrapper .slicknav_nav ul {
    margin: 0;
  }
  .humberger-menu-wrapper .slicknav_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 0;
  }
  .humberger-menu-wrapper .slicknav_nav a:hover {
    border-radius: 0;
    background: 0 0;
    color: #7fad39;
  }
  .humberger-menu-wrapper .slicknav_nav .slicknav_row {
    padding: 8px 0;
  }
  .humberger-menu-wrapper .slicknav_menu {
    background: 0 0;
    padding: 0;
    margin-bottom: 30px;
  }
  .humberger-menu-wrapper.show-humberger-menu-wrapper {
    opacity: 1;
    left: 0;
  }
  .humberger-menu-logo {
    margin-bottom: 30px;
  }
  .humberger-menu-logo a {
    display: inline-block;
  }
  .humberger-menu-contact {
    padding: 10px 0 13px;
  }
  .humberger-menu-contact ul li {
    font-size: 14px;
    color: #1c1c1c;
    position: relative;
    line-height: 30px;
    list-style: none;
  }
  .humberger-menu-contact ul li i {
    color: #252525;
    margin-right: 5px;
  }
  .humberger-menu-cart {
    margin-bottom: 25px;
  }
  .humberger-menu-cart ul {
    display: inline-block;
    margin-right: 25px;
  }
  .humberger-menu-cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
  }
  .humberger-menu-cart ul li:last-child {
    margin-right: 0;
  }
  .humberger-menu-cart ul li a {
    position: relative;
  }
  .humberger-menu-cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
  }
  .humberger-menu-cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #fff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .humberger-menu-cart .header-cart-price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
  }
  .humberger-menu-cart .header-cart-price span {
    color: #252525;
    font-weight: 700;
  }
  .humberger-menu-widget {
    margin-bottom: 20px;
  }
  .humberger-menu-widget .header-top-right-language {
    margin-right: 20px;
  }
  .humberger-menu-nav {
    display: none;
  }
  .humberger-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    -webkit-transition: all,.6s;
    transition: all,.6s;
  }
  .humberger-menu-overlay.active {
    visibility: visible;
  }
  .header-top {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-cart {
    text-align: center;
    padding: 10px 0 24px;
  }
  .over_hid {
    overflow: hidden;
  }
}

@media only screen and (max-width: 479px) {
  .hero-search-form form .hero-search-categories {
    display: none;
  }
  .featured-controls ul li {
    margin-bottom: 10px;
  }
  .product-details-text ul li b {
    width: 100px;
  }
  .product-details-tab .nav-tabs li {
    margin-right: 20px;
    margin-right: 15px;
  }
  .shoping-cart-btns {
    text-align: center;
  }
  .primary-btn.cart-btn.cart-btn-right {
    float: none;
    margin-top: 10px;
  }
  .shoping-checkout .primary-btn {
    display: block;
    text-align: center;
    padding: 10px 15px;
  }
  .map .map-inside {
    -webkit-transform: translateX(-125px);
    transform: translateX(-125px);
  }
  .map .map-inside .inside-widget {
    width: 250px;
  }
  .shoping-discount form input {
    width: 100%;
  }
  .checkout-order {
    padding: 20px;
  }
  .blog-details-hero-text h2 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */